{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ゲーム攻略サイト</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">ゲーム攻略サイト</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'photo:index' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'blogapp:index2' %}">game blog</a></li>
                        <li class="nav-item"><a class="nav-link" href="mailto:Shion.s0430@icloud.com">Contact</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'blogapp:your_template' %}">公式LINEアカウントにアクセス</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">ゲーム攻略サイト</h1>
                    <p class="lead mb-0">ゲームの簡単な攻略・裏技を紹介</p>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a href="https://genshin.hoyoverse.com/pc-launcher/?utm_source=JP_bing_JP_search_ymbing01&hoyotrace_channel=bing_channel&msclkid=759cd7d178451689e30cb0e008504027#/GI008"><img class="card-img-top" src="https://my-aws-trivia-k-oshiro.s3.ap-northeast-1.amazonaws.com/genshin-bnr-4k/20210210_2-4k.png" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">原神</div>
                            <h2 class="card-title">最近の人気ゲーム</h2>
                            <p class="card-text">🌍✨「未知の世界が待っている、冒険心を呼び覚ませ！」✨🌍

                                広大なテイワット大陸で、風、雷、炎、氷などの元素の力を駆使して仲間と共に冒険しよう。美しいオープンワールドの世界を自由に駆け巡り、壮大なストーリーと緻密に作り込まれたキャラクターたちが織りなす新たな伝説を体感しよう。
                                
                                🔹 オープンワールドを探索して秘境や絶景を発見！ 
                                🔹 多彩なキャラクターを切り替え、パーティを組んで戦略的な戦闘を体験。 
                                🔹 見るものすべてが息をのむほど美しい、リアルで壮麗なビジュアル。
                                
                                今すぐ旅人として冒険を始めよう！テイワットは君を待っている。</p>
                            <a class="btn btn-primary" href="{% url 'blogapp:gennsinn' %}">Read more →</a>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="https://www.ea.com/ja-jp/games/apex-legends"><img class="card-img-top" src="https://assets-prd.ignimgs.com/2023/02/06/byprmrle-1675656903302.jpeg" alt="" /></a>
                                <div class="card-body">
                                    <div class="small text-muted"></div>
                                    <h2 class="card-title h4">APEX LEGENOS</h2>
                                    <p class="card-text">「APEX Legends（エーペックス レジェンズ）」は、Respawn Entertainmentが開発し、Electronic Artsが配信する人気のバトルロイヤルゲームです。プレイヤーは「レジェンド」と呼ばれる個性的なキャラクターたちの中から一人を選び、スキルやアビリティを駆使して他のチームと戦います。チームワークと戦略が勝利の鍵となり、60人のプレイヤーが20チームに分かれて広大なマップで生存を競います。魅力的なグラフィック、直感的なゲームプレイ、頻繁に追加される新コンテンツにより、APEX Legendsは全世界のゲーマーから絶大な支持を受けています。</p>
                                    <a class="btn btn-primary" href="{% url 'blogapp:apex' %}">Read more →</a>
                                </div>
                            </div>
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="https://hsr.hoyoverse.com/ua?utm_source=JP_Bing_JP_search_UA1_Brand&hoyotrace_channel=bing_channel&msclkid=0359eed48326175d89c089e62e6a401a"><img class="card-img-top" src="https://prtimes.jp/i/96124/8/ogp/d96124-8-7e0a1005c36398ee3119-0.jpg" alt="" /></a>
                                <div class="card-body">
                                    <div class="small text-muted"></div>
                                    <h2 class="card-title h4">崩壊スターレイル</h2>
                                    <p class="card-text">「崩壊スターレイル」は、miHoYoが手掛ける壮大なSFファンタジーRPGです。プレイヤーは、「開拓者」として銀河を舞台に冒険を繰り広げ、宇宙の謎を解き明かしつつ仲間たちと共に旅を続けます。美麗なビジュアルと緻密に描かれたキャラクターたちが織りなす物語は、没入感と感動をもたらします。戦闘システムは戦略的なターン制バトルで、キャラクターごとのユニークなスキルやコンビネーションが戦略に深みを加えます。プレイヤーは多様なキャラクターを収集し、育成しながら自分だけの最強チームを編成して宇宙の強敵に立ち向かいます。音楽や演出も高く評価され、プレイヤーをゲームの世界へと引き込みます。未知の惑星を探索し、壮大な宇宙の旅を体験できる「崩壊スターレイル」は、冒険と戦略を愛するすべてのプレイヤーに新たな体験を提供します。</p>
                                    <a class="btn btn-primary" href="{% url 'blogapp:houkai' %}">Read more →</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="https://www.identityvgame.com/jp/index.html"><img class="card-img-top" src="https://i.pinimg.com/originals/91/14/a7/9114a729f6230ef623b1efaed7a8a545.jpg" alt="" /></a>
                                <div class="card-body">
                                    <div class="small text-muted"></div>
                                    <h2 class="card-title h4">第五人格</h2>
                                    <p class="card-text">
                                        第五人格（Identity V）は、NetEase Gamesが開発した非対称対戦型ホラーサバイバルゲームです。1人のハンターと4人のサバイバーが対戦し、サバイバーは暗号機を解読して脱出を目指し、ハンターはそれを阻止します。ゴシック調の独特な世界観と個性的なキャラクターが特徴で、心理戦とスリリングなチェイスが楽しめるゲームです。</p>
                                    <a class="btn btn-primary" href="{% url 'blogapp:daigo5' %}">Read more →</a>
                                </div>
                            </div>
                            <!-- Blog post-->
                            <div class="card mb-4">
                                <a href="https://playvalorant.com/ja-jp/"><img class="card-img-top" src="https://wallpapers.com/images/hd/valorant-characters-k3yaxlo6k86pmtpi.jpg" alt="" /></a>
                                <div class="card-body">
                                    <div class="small text-muted"></div>
                                    <h2 class="card-title h4">VALORANT</h2>
                                    <p class="card-text">「VALORANT（ヴァロラント）」は、Riot Gamesが開発した戦略的FPS（ファーストパーソン・シューティング）ゲームで、エイム力だけでなく戦略とチームワークが求められる作品です。プレイヤーは、「エージェント」と呼ばれるそれぞれ異なるスキルを持ったキャラクターの中から選び、5対5のチームに分かれて対戦します。ゲームは攻守に分かれて行われ、攻撃側は爆弾「スパイク」を設置して爆破を試み、守備側はそれを阻止することを目的とします。各エージェントはユニークなスキルを駆使して戦いを有利に進めることができ、戦略的な使い方が試合の勝敗を左右します。例えば、敵の動きを封じるスモークや、攻撃のタイミングを合わせたフラッシュなどがチームの協力プレイに重要です。「VALORANT」は、スピーディーな試合展開と緊張感のある戦闘に加え、シンプルでありながら奥深いゲームプレイにより、多くのプレイヤーを魅了しています。eスポーツシーンでも注目されており、スキルと戦略を極めたい競技志向のゲーマーにとって、挑戦と興奮を提供するゲームです。</p>
                                    <a class="btn btn-primary" href="{% url 'blogapp:varo' %}">Read more →</a>
                                </div>
                            </div>
                            <!--Blog post user-->
                            <div class="card mb-4">
                                {% for record in orderby_records %}
                                <div class="card-body">
                                    <div class="small text-muted"></div>
                                    <h2 class="post-title">
                                        {{record.title}}</h2>
                                    <h3 class="post-subtitle">
                                        <span style="font-size : 14pt">
                                            {{record.content|truncatechars:50}}
                                        </span>
                                    </h3>
                                </a>
                                <p class="post-meta">
                                    <a class="btn btn-primary" href="#!">Read more →</a>
                                    {{record.posted_at}}に投稿/カテゴリ:
                                    {{record.category}}</p>
                                </p>
                            </div>
                            <hr class="my-4 /">
                            {% endfor %}
                        </div>
                    </div>
                </div>
                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                    </nav>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <head>
                            <meta charset="UTF-8">
                            <title>検索</title>
                        </head>
                        <body>
                            {% include 'google_search.html' %}
                        </body>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Official Game </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="https://www.identityvgame.com/jp/index.html">第五人格</a></li>
                                        <li><a href="https://www.fortnite.com/news">FORTMITE</a></li>
                                        <li><a href="https://playvalorant.com/ja-jp/">VALORANT</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="https://genshin.hoyoverse.com/pc-launcher/?new_pc=1&utm_source=JP_bing_JP_search_ymbing02&hoyotrace_channel=bing_channel&msclkid=355acc1f96b3120fa13fab292ccd1dce#/">原神</a></li>
                                        <li><a href="https://www.ea.com/ja-jp/games/apex-legends/about">APEX</a></li>
                                        <li><a href="https://hsr.hoyoverse.com/ua?utm_source=JP_Bing_JP_search_UA1_Brand&hoyotrace_channel=bing_channel&msclkid=62937fae79aa178edeca1898c36a57d8">崩壊スターレイル</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">皆さんに1言</div>
                        <div class="card-body">普通に作成大変だし、難しいし、エラーが多いし、めっちゃ疲れた、みんなもお疲れ様</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src={% static 'js/scripts.js' %}></script>
    </body>
</html>
